/* #E8F1FF
#D6EBFF


A5CBF7
*/


/* dotPROJECT REQUIRED CLASSES */
BODY {
	background-color: #f0f0f0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 10pt;
    background-color : #e8f1ff;
    /* background-image    : url('images/bottom_bg.png');
    background-position : bottom; */
    background-repeat   : repeat-x;

}

ul {
	margin-left: 25px;
}

dl {
	margin-top: 0px; padding-left: 1px;
}
dt {
	margin-top: 0.5em;
	color: #000099;
	font-weight: bold;
}
dd {
	margin-bottom: 0px; margin-left: 1.5em;
}


em {
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	color: #3d4c64;
}

A:link {
	color: #3d4c64;
	text-decoration: none;
}

A:visited {
	color: #3d4c64;
	text-decoration: none;
}

A:active {
	color: red;
	text-decoration: none;
}

A:hover {
	color: #666666;
	text-decoration: none;
}

TD {
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt
}

TR {
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt
}

h1, .title {
	font-size: 15px;
	font-weight: bold;
	font-family: Arial,Osaka,verdana,Sans-Serif;
	color: #3d4c64;
	margin-bottom: 0px;
	margin-top: 5px;
    text-transform: uppercase;
}

h2, .subtitle {
	font-size: 12px;
	font-weight: bold;
	font-family: arial,Osaka,verdana,Sans-Serif;
	color: #666;
	margin-bottom: 0px;
	margin-top: 15px;
    text-transform: uppercase;

}

h3 {
	font-size: 12px;
	font-weight: bold;
	font-family: arial,Osaka,verdana,Sans-Serif;
	color: #3d4c64;
	margin-bottom: 0px;
	margin-top: 35px;
    text-transform: uppercase;

}

bordertable {
	border: 1px black solid;
}

.bordertable{
 border: 1px black solid;
}


.item {
	color: #3d4c64;
}

.ok {
	color: green;
}

.text{
	border: 1px #999999 solid;
	font-family: arial,Osaka,verdana,Sans-Serif;
	font-size: 8pt;
    margin-top  : 2px;
	/*height: 12pt; Select boxes are too small in Mozilla */
}

TEXTAREA {
	border: 1px #999999 solid;
	font-family: arial,Osaka,verdana,helvetica,arial,sans-serif;
	font-size: 8pt;
    padding : 2px;
}

.textarea {
	border: 1px #999999 solid;
	font-family: arial, verdana,helvetica,arial,sans-serif;
	font-size: 8pt;
    padding : 2px;
    margin-top  : 2px;
}

textarea.small {
	border: 1px #999999 solid;
	font-family: arial, verdana,Sans-Serif;
	font-size: 8pt;
    padding : 2px;
    margin-top  : 2px;
}

input, textarea {
	font-family : arial,verdana,Sans-Serif;
    font-size   : 8pt;
    font-weight : normal;
	border      : 1px #999999 solid;
    padding     : 2px;
    margin-top  : 2px;
    -moz-border-radius : 4px;
}

/* Focus action  */
input:focus, textarea:focus {
	font-family: arial,verdana,Sans-Serif;
    border  : 1px solid #3162A6;
    padding : 2px;
}

.button{
    /*** ORIGINAL ***
    border: 1px black solid;
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt;
    ***/

  font-family   : tahoma,verdana,arial,Sans-Serif;
  color         : #666;
  text-align    : center;
  font-size     : 9px;
  font-weight   : bold;
  text-transform: uppercase;
  border-top    : 1px solid #C4CCCC;
  border-left   : 1px solid #ACB5B5;
  border-bottom : 1px solid #6F7777;
  border-right  : 1px solid #ACB5B5;
  width         : auto;
  background    : url(images/button_bg.png) repeat-x;
  background-color : white;
  padding       : 2px 5px !important;
  padding       : 0px 0px;
  line-height   : 13px;
  margin-left   : 2px;
  cursor        : pointer !important;
  cursor        : hand;
  -moz-border-radius : 0px;
}

/* Focus action  */
.button:focus {

  font-family   : tahoma,verdana,arial,Sans-Serif;
  color         : #999;
  text-align    : center;
  font-size     : 9px;
  font-weight   : bold;
  text-transform: uppercase;
  border-top    : 1px solid #C4CCCC;
  border-left   : 1px solid #ACB5B5;
  border-bottom : 1px solid #6F7777;
  border-right  : 1px solid #ACB5B5;
  width         : auto;
  background    : url(images/button_bg.png) repeat-x;
  background-color : white;
  padding       : 2px 5px !important;
  padding       : 0px 0px;
  line-height   : 13px;
  margin-left   : 2px;
  cursor        : pointer !important;
  cursor        : hand;
  -moz-border-radius : 0px;
}

/* dotProject Top Banner and Top Nav Customization */
TABLE.banner {
	background-color: #3d4c64;
	color: #fff
}

TH.banner {
	background-color: #3d4c64;
	color: #fff
}

TD.nav {
	border: 1px solid #848284;
	color: #000
    background-color    : #DADAB8;
    background-image    : url("images/header_bg.png");
    background-image    : repeat-x;

}

/*
**********************************
Begin IE TD buttonizing
**********************************
*/

TD.clsBtnUp {
	cursor: hand;
	color: #FFFFFF;
	padding: 0 3;
	border: inset 2px;
}

TD.clsBtnDown {
	cursor: hand;
	color: #FFFFFF;
	padding: 0 3;
	border: inset 2px;
}

TD.clsBtnOn {
	cursor: hand;
	color: #FFFFFF;
	padding: 0 3;
	border: outset #eeeeee 2px;
}

TD.clsBtnOff {
	color: #FFFFFF;
	padding: 0 3;
	tab-index: 0;
	border: solid #559999 2px;
}

TD.topBtnOff {
	color: #FFFFFF;
	padding: 0 3;
	tab-index: 0;
	border: solid #cccccc 2px;
}

TD.nav {
	color: #FFFFFF;
}

/* Standard table 'spreadsheet' style */
table.tbl {
	background: #F2F2F2;
}

table.tbl TH {
	color               : #3d4c64;
	list-style-type     : disc;
	list-style-position : inside;
	/* border: outset #D1D1CD 1px; */
	font-weight         : normal;
	/* text-align          :center; */
    background-color    : #f2f2f2;
    background-image    : url("images/header_bg.png");
    background-image    : repeat-x;

	}

table.tbl td {
	background-color: #ffffff;
}

/* a 'standard' table */
table.std {
	border     : 2px solid #CCC;
	background : #F2F2F2;
}
table.std TH {
	background-color : #F2F2F2;
	color            : #3d4c64;
	list-style-type  : disc;
	list-style-position: inside;
	/* border           : outset #D1D1CD 1px; */
    background-color    : #bccfeb; /* #95B3DE; */
    background-image    : url("images/header_bg.png");
    background-image    : repeat-x;

}

table.std td.hilite {
	background-color: #ffffff;
}

/* contacts table */
table.contacts {
	background-color: #3d4c64;
}

table.contacts td {
	background-color: #F2F2F2;
}

table.contacts td.hilite {
	background-color: #ffffff;
}

/* links in header blocks */
A.hdr:link, A.hdr:active, A.hdr:visited {
	color: #3d4c64;
}

/* tabbed boxes */

td.tabon {
	background: #F2F2F2;
 background-image: url('images/tabSelectedBg.png');
}
td.taboff {
	background: #F2F2F2;
	background-image: url('images/tabBg.png');
}
td.tabsp {
	border-bottom: solid #cccccc 0px;
}
td.tabox {
	background-color : #F2F2F2;
	border-top      : solid #cccccc 1px;
	border-left      : solid #cccccc 1px;
	border-right     : solid #cccccc 1px;
	border-bottom    : solid #cccccc 1px;
}

/* Message styles */
.warning {
	color: red
}
.error {
	color: red
}
.message {
	color: #3d4c64;
}

.no_ {
	color: red
}

/* popup calendar */
body.popcal {
	background-color: #f0f0f0;
}

table.poptitle {
	background-color: #ffffff;
}
table.poptitle td {
	background-color: #ffffff;
}
table.poptitle th {
	background-color: #ffffff;
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
}

table.popcal {
	background-color: #cccccc;
}

table.popcal th {
	background-color: #ffffff;
	color: #000000;
	font-family: Osaka,helvetica,arial,sans-serif;
	font-size: 9pt;
	font-weight: normal;
}

table.popcal td {
	background-color: #ffffff;
	font-family: Osaka,helvetica,arial,sans-serif;
	font-size: 8pt;
	text-align: center;
}

table.popcal td.empty {
	background-color: #e0e0e0;
}

table.mocal td.day  {
	background-color: #ffffff;
	text-align: center;
}

table.popcal td.today {
}

table.popcal td.weekend {
	background-color: #f0f0f0;
}

table.popcal a:link,
table.popcal a:visited {
	color: #0000ff;
	text-decoration: none;
}

table.popcal a.today:link,
table.popcal a.today:visited {
	color: #ff0000;
	font-weight: bold;
}

table.popcal a.weekend:link,
table.popcal a.weekend:visited {
	color: #0000aa;
}

table.popcal a.empty:link,
table.popcal a.empty:visited {
	color: #777777;
}

/* month calendar - title area */
table.motitle {
	background-color: #cccccc;
}
table.motitle td {
	background-color: #f0f0f0;
}
table.motitle th {
    font-family         : arial,Osaka,verdana,Sans-Serif;
    font-size           : 14px;
    color               : #3d4c64;
	list-style-type     : disc;
	list-style-position : inside;
	font-weight         : bold;
    background-color    : #bccfeb; /* #95B3DE; */
    background-image    : url("images/header_bg.png");
    background-image    : repeat-x;
}

table.mocal {
	background-color: #777777;
}
table.mocal th {
	color               : #3d4c64;
	list-style-type     : disc;
	list-style-position : inside;
	font-weight         : bold;
	text-align          : center;
    background-color    : #bccfeb; /* #95B3DE; */
    background-image    : url("images/header_bg.png");
    background-image    : repeat-x;

}
table.mocal td {
}
table.mocal td.week {
	vertical-align: top;
	background-color: #3d4c64;
	height: 80px;
}
table.mocal td.empty {
	background-color: #e0e0e0;
	color: #aaaaaa;
	text-align: left;
	vertical-align: top;
	height: 80px;
}
table.mocal td.day  {
	background-color: #ffffff;
	color: #333366;
	text-align: left;
	vertical-align: top;
	height: 80px;
}
table.mocal td.today {
	background-color : white;
	border           : 2px dotted red;
	color            : #ffffff;
	text-align       : left;
	vertical-align   : top;
}

table.mocal td.weekend {
	background-color: #f0f0f0;
	text-align: left;
	vertical-align: top;
}

table.mocal .event {
}

/* mini calendar - title area */
table.minititle {
}
table.minititle td {
}
table.minititle th {
	font-weight: normal;
}

table.minical {
	background-color: #f2f2f2;
	border : 1px solid #cccccc;
}
table.minical th {
	background-color: #F2F2F2;
	font-weight: normal;
}
table.minical td {
	background-color: WHITE;
}
table.minical td.week {
}
table.minical td.empty {
	color: #aaaaaa;
}
table.minical td.day  {
	text-align : center;
}
table.minical td.today {
	text-align       : center;
	border           : 2px dotted red;
}
table.minical td.weekend {
	text-align: center;
}
table.minical .event {
}

/* daily calendar */
table.tbl td.event {
        background-color: #fff0b0;
}

table.tbl td.event td {
	background-color: #fff0b0;
}
